.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 100px;
}

.nav-links {
    display: flex;
}

.nav-title {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
}

.links-container {
    width: 463px;
    height: 36px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 34px;

}

.links {
    display: flex;
    gap: 10px;

}

.nav-link {
    list-style-type: none;
}

.nav-link-style {
    text-decoration: none;
}

#nav-search-image {
    width: 19px;
    height: 19px;
}

#nav-cart-image {
    width: 29px;
    height: 23.43px;
}



/*shared style*/


.shared-description {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.shared-title {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: left;
}

.logo-size {

    width: 84px;
    height: 26px;
}

/*...........*/



.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    margin-bottom: 274px;
}

.banner-container {
    width: 100%;
    max-width: 582px;
    height: 270px;

}

.img-container {
    width: 100%;
    max-width: 986.47px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.line {
    width: 100%;
    max-width: 1110px;
    height: 1px;
    background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.378%, rgba(192, 204, 218, 0.1) 100%);
}

.camera-rounded-border {
    border: 3px solid rgb(241, 228, 255);
    width: 475px;
    aspect-ratio: 1 / 1;
    /* Ensures width == height */
    border-radius: 50%;
    border-radius: 300px;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.camera-rounded-mini-border {
    width: 350px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border-radius: 175px;
    background-color: rgb(247, 240, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img {
    width: 90%;
    height: auto;
}


.prebook {
    width: 196px;
    height: 44px;
    border-radius: 41px;

    background: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;

    border-style: none;
    text-align: center;
}

.disp {
    display: none;
}

@media (max-width: 576px) {


    .nav-bar {
        width: 100%;
        max-width: 350px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding-left: 0px;
        padding-right: 0px;
    }

    .nav-title {
        color: rgb(58, 58, 58);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
    }

    .links-container {


        width: 100%;
        max-width: 350px;


        display: flex;
        justify-content: start;

    }

    .links {
        display: flex;
        gap: 10px;
        padding-left: 0px;

    }

    .nav-link {

        list-style-type: none;


        white-space: nowrap;

    }

    .nav-link-style {

        text-decoration: none;
        font-size: 14px;

    }

    #nav-search-image {
        width: 19px;
        height: 19px;
    }

    #nav-cart-image {
        width: 29px;
        height: 23.43px;
    }

    .banner {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;

    }


    .banner-container {
        width: 100%;
        max-width: 320px;
        height: auto;
        margin: 0 auto;
    }

    .camera-rounded-border {
        width: 280px;
        aspect-ratio: 1 / 1;

        margin: 0 auto 30px auto;
        /* center + spacing below */
    }

    .camera-rounded-mini-border {
        width: 200px;
        aspect-ratio: 1 / 1;

    }

    .banner-img {
        width: 90%;
        height: auto;
    }


}