.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 100px;
}

.nav-links {
    display: flex;
}

.nav-title {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
}

.links-container {
    width: 463px;
    height: 36px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 34px;

}

.links {
    display: flex;
    gap: 10px;

}

.nav-link {
    list-style-type: none;
}

.nav-link-style {
    text-decoration: none;
}

#nav-search-image {
    width: 19px;
    height: 19px;
}

#nav-cart-image {
    width: 29px;
    height: 23.43px;
}



/*shared style*/


.shared-description {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.shared-title {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: left;
}

.logo-size {

    width: 84px;
    height: 26px;
}

/*...........*/



.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    margin-bottom: 274px;
}

.banner-container {
    width: 100%;
    max-width: 582px;
    height: 270px;

}

.img-container {
    width: 100%;
    max-width: 986.47px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 30px;
}

.line {
    width: 100%;
    max-width: 1110px;
    height: 1px;
    background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.378%, rgba(192, 204, 218, 0.1) 100%);
}

.camera-rounded-border {
    border: 3px solid rgb(241, 228, 255);
    width: 475px;
    aspect-ratio: 1 / 1;
    /* Ensures width == height */
    border-radius: 50%;
    border-radius: 300px;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.camera-rounded-mini-border {
    width: 350px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    background-color: rgb(247, 240, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img {
    width: 90%;
    height: auto;
}


.prebook {
    width: 196px;
    height: 44px;
    border-radius: 41px;

    background: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;

    border-style: none;
    text-align: center;
}

.hero-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 1047px;
    min-height: 1662px;
    margin: 0 auto;


}

.hero-title {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: left;
    width: 80%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-card {
    padding: 15px;
    width: 100%;
    max-width: 300px;
    min-height: 476px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);


}

.card-img-box {

    border: 1px solid gray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img {
    width: 100%;
}

.card-title {
    color: rgb(24, 25, 31);
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;

    margin-top: 10px;
    margin-bottom: 10px;
}

.card-price {
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-rating-details {
    width: 100%;

    display: flex;
    gap: 10px;
}

.star-img {
    width: 15%;
}

.rating-text {
    color: rgb(94, 99, 102);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.1px;
    text-align: left;
}

.card-description {
    color: rgb(120, 120, 133);
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 1.8%;
    text-align: left;
    margin-top: 5px;

}

.disp {
    display: none;
}

@media (max-width: 576px) {


    .nav-bar {
        width: 100%;
        max-width: 350px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding-left: 0px;
        padding-right: 0px;
    }

    .nav-title {
        color: rgb(58, 58, 58);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
    }

    .links-container {


        width: 100%;
        max-width: 350px;


        display: flex;
        justify-content: start;

    }

    .links {
        display: flex;
        gap: 10px;
        padding-left: 0px;

    }

    .nav-link {

        list-style-type: none;


        white-space: nowrap;

    }

    .nav-link-style {

        text-decoration: none;
        font-size: 14px;

    }

    #nav-search-image {
        width: 19px;
        height: 19px;
    }

    #nav-cart-image {
        width: 29px;
        height: 23.43px;
    }

    .banner {
        width: 100%;
        max-width: 350px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px auto 150px auto;


    }


    .banner-container {
        width: 100%;
        max-width: 320px;
        height: auto;
        margin: 0 auto;
    }

    .camera-rounded-border {
        width: 280px;
        aspect-ratio: 1 / 1;

        margin: 0 auto 30px auto;
        /* center + spacing below */
    }

    .camera-rounded-mini-border {
        width: 200px;
        aspect-ratio: 1 / 1;

    }

    .banner-img {
        width: 90%;
        height: auto;
    }

    .img-container {
        width: 100%;
        max-width: 986.47px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .hero-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        width: 100%;
        max-width: 380px;
        min-height: 1662px;

    }

    .hero-card {
        margin: 0 auto;


    }

    .disp {
        display: none;
    }


}